<!-- <ion-header>
  <ion-toolbar color="primary">
<ion-title>Our Products</ion-title>
<ion-buttons slot="end">
  <ion-button (click)="SearchCategory()"><ion-icon slot="icon-only" name="search-outline"></ion-icon></ion-button>
  <ion-button routerLink="/login"><ion-icon slot="icon-only" name="log-in-outline"></ion-icon></ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of products" routerLink="/productdetails/{{item.id}}">
      <ion-avatar slot="start">
        <img [src]="item.ImageUrl"  />
      </ion-avatar>
      <ion-label>
        {{item.ProductName}}
        <p>{{item.Category}}</p>
      </ion-label>
      
      <ion-badge slot="end"> {{item.Stock}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content> -->




<ion-content>
  <div class="container-fluid">
    <div class="container">
      <!-- <h2 class="logo">Tea Joints</h2>
      <nav>
        <ul>
          <li class="active">Home</li>
          <li>About</li>
          <li>Service</li>
          <li>Portfolio</li>
          <li>Blog</li>
          <li>Privacy</li>
          <li>Contact</li>
          <li><button class="btn">Get In Touch</button></li>
        </ul>
      </nav> -->
    </div>

    <div class="content">
      <h3>TEA JOINTS</h3>
      <!-- <br> TRANSPORT -->
      <h1>Hungry?</h1>
      <p>Good, we are here<br> 
         to serve you</p>
        <button class="btn" routerLink="/signup">Sign up</button>
        <button class="btn btn2" routerLink="/login">Login</button>
      </div>
  </div>
</ion-content>