
<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
   <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Check Out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="small-container cart-page">
    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
      <tr *ngFor="let data of getCartDetails">
        <td>
          <div class="cart-info">
           <img src="{{data.ImageUrl}}">
            <div>
              <p>{{data.ProductName}} <br> <small>Price: {{data.UnitPrice | currency: '₱'}}</small>
              <br>
              <a (click)="singleDelete(data)">Remove</a>
              <br>
               
              <ion-buttons>
                <ion-button (click)="dec(data.id, data.Quantity)">
                  <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="inc(data.id, data.Quantity)">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              </p>
            </div>
          </div>
        </td>
        
        <td>
          <input type="text" disabled value="{{data.Quantity}}">
        </td>
        <td> {{(data.Quantity * data.UnitPrice) | currency: '₱'}}</td>
      </tr>    
    </table>
    <div class="total-price" *ngIf="total > 0">
      <table>
        <tr>
          <td>Subtotal</td>
          <td>{{(total) | currency: '₱'}}</td>
        </tr>

        <tr>
          <td>Delivery Fee</td>
          <td>{{30 | currency: '₱'}}</td>
        </tr>

        <tr>
          <td>Total Amount</td>
          <td>{{(total + 30) | currency: '₱'}}</td>
        </tr>
        <tr>
          <td>Payment Method</td>
          <td>
            <!-- <ion-item counter="true"> -->
              <ion-select [(ngModel)]="PaymentMethod">
                <ion-select-option value="Cash">Cash</ion-select-option>
                <ion-select-option value="G Cash">G Cash</ion-select-option>
              </ion-select>
            <!-- </ion-item> -->
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <!-- tanga() -->
            <ion-button *ngIf="total > 0" (click)="OrderNow()">Confirm Order</ion-button>

            <!-- <ion-button *ngIf="total > 0" (click)="OrderNow()">Confirm Order</ion-button> -->

          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>