<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="customerInfo()">
        <ion-icon name="information-circle-outline"
          slot="icon-only">
        </ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="changeStatus()" [hidden]="status == 'Delivered' || status == 'Rejected'">
        <!-- <ion-icon
          name="checkmark-circle-outline" slot="icon-only">
        </ion-icon> -->
        <!-- <img class="approveIcon" /> -->
        <ion-icon
          name="repeat-outline" slot="icon-only">
        </ion-icon>
        </ion-button>
      <ion-button color="danger" (click)="cancelOrder()" [hidden]="status == 'Approved' || status == 'Delivered' || status == 'Rejected' || status == 'Preparing' || status == 'To Deliver'">
        <ion-icon
          name="close-circle-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
          <!-- [hidden]="status == 'Open' || status == 'Cancelled'" -->
          <ion-button color="success" (click)="exportPdf()"><ion-icon
            name="print-outline" slot="icon-only"></ion-icon></ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page" padding>
  <ion-card *ngFor="let data of orders">
    <img [src]="data.ImageUrl" style="max-width: 35%; height: auto;" />
    <ion-card-header>
      <ion-card-title>{{data.Category}}</ion-card-title>
      <ion-card-subtitle>{{data.ProductName}} {{data.UnitPrice | currency: '₱'}} ({{data.Quantity}})
        PCS</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="7">
    </ion-col>
    <ion-col size="5">
      <ion-text>
        <h4>Total : {{total | currency: '₱'}} </h4>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-footer>

