<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
   <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
    <ion-title>Check Out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="small-container cart-page">
    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
      <tr *ngFor="let data of getCartDetails">
        <td>
          <div class="cart-info">
           <img src="{{data.ImageUrl}}">
            <div>
              <p>{{data.ProductName}} <br> <small>Price: {{data.UnitPrice | currency: '₱'}}</small>
              <br><a (click)="singleDelete(data)">Remove</a>
              </p>
            </div>
          </div>
        </td>
        <td><input type="text" value="{{data.Quantity}}" disabled></td>
        <td>{{(data.Quantity * data.UnitPrice) | currency: '₱'}}</td>
      </tr>    
    </table>
    <div class="total-price" *ngIf="total > 0">
      <table>
        <tr>
          <td>Subtotal</td>
          <td>{{(total) | currency: '₱'}}</td>
        </tr>

        <tr>
          <td>Delivery Fee</td>
          <td>{{0 | currency: '₱'}}</td>
        </tr>

        <tr>
          <td>Total Amount</td>
          <td>{{(total) | currency: '₱'}}</td>
        </tr>
          <tr>
            <td>Payment Method</td>
            <td>
                <ion-select #paymentMethod>
                  <ion-select-option value="Cash">Cash</ion-select-option>
                  <ion-select-option value="G Cash">G Cash</ion-select-option>
                </ion-select>
            </td>
          </tr>
        
        <tr>
          <td></td>
          <td>
            <ion-button *ngIf="total > 0" (click)="OrderNow(paymentMethod)">Confirm Order</ion-button>

          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>