<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    <!-- (click)="showPicker = true;" -->
    <!-- <ion-icon name="calendar-number-outline" style="cursor: pointer; zoom:1.5;" id="open-modal"></ion-icon> -->
    <ion-title>Online Orders ({{totalOrders}}) ‎ ‎ ‎ ‎
    </ion-title>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-icon name="search-outline" style="cursor: pointer; zoom:2.0;" id="open-modal"></ion-icon>
  </ion-buttons>
</ion-toolbar>


<ion-content>
  <ion-modal trigger="open-modal" mode="md" [backdropDismiss]="false">
    <ng-template>
      <ion-content>
        <ion-item>
          <ion-label>Customer Fullname :</ion-label>
          <ion-input [(ngModel)]="customerName" (ionChange)="handleChange($event)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Customer Email :</ion-label>
          <ion-input [(ngModel)]="customerEmail" (ionChange)="handleChangeEmail($event)"></ion-input>
        </ion-item>
        <ion-item counter="true">
          <ion-label>Start Date :</ion-label>
          <ion-input type="date" [(ngModel)]="dateStart" (ionChange)="handleChangeStartDate($event)"></ion-input>
        </ion-item> 
        <ion-item counter="true">
          <ion-label>End Date :</ion-label>
          <ion-input type="date" [(ngModel)]="dateEnd" (ionChange)="handleChangeEndDate($event)"></ion-input>
        </ion-item>  
        <ion-item counter="true">
          <ion-label>Status :</ion-label>
          <ion-select placeholder="Select Status" [(ngModel)]="statusoforder" (ionChange)="handleChangeStatus($event)">
            <ion-select-option value="">--- SHOW ALL ---</ion-select-option>
            <ion-select-option value="Pending">Pending</ion-select-option>
            <ion-select-option value="Approved">Approved</ion-select-option>
            <ion-select-option value="Preparing">Preparing</ion-select-option>
            <ion-select-option value="To Deliver">To Deliver</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
         <ion-buttons slot="end">
          <ion-button color="danger" (click)="close()">Close</ion-button>
         </ion-buttons>
        </ion-item> 
      </ion-content>
    </ng-template>
  </ion-modal>
  <app-admintab1  [categoryId]="queryinput" 
  [customerEmail]="inp_customerEmail" 
  [startDate]="inp_startDate" 
  [endDate]="inp_endDate" 
  (totalPendingOrders)="addItem($event)" 
  [statusOfOrders]="status">
</app-admintab1>
</ion-content>
