<div class="tabs">
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="atab1">
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>Online Orders</ion-label>
    </ion-tab-button>
   

    <ion-tab-button tab="atab2">
      <ion-icon name="time"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="atab3">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="atab4">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Edit Information</ion-label>
    </ion-tab-button>  -->

    <ion-tab-button (click)="addproduct()">
      <ion-icon name="settings"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
</div>