
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    <ion-title>Online Orders</ion-title>
  </ion-buttons>
  <ion-searchbar  [debounce]="1000" show-clear-button="always" clear-icon="trash-bin" 
  placeholder="Fullname & Email" (ionChange)="handleChange($event)"></ion-searchbar>
  
</ion-toolbar>


<ion-content>
  <app-admintab1 [categoryId]="queryinput"></app-admintab1>
</ion-content>

<!-- 
<ion-content>
  <div id="content">
    <h2 style="text-align: center;">Html To PDF in Angular Application</h2>
    <br><br>
    <table class="table" id="contentToConvert">
      <tbody>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
        <tr>
          <td>Ernst Handel</td>
          <td>Roland Mendel</td>
          <td>Austria</td>
        </tr>
        <tr>
          <td>Island Trading</td>
          <td>Helen Bennett</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Laughing Bacchus Winecellars</td>
          <td>Yoshi Tannamuri</td>
          <td>Canada</td>
        </tr>
        <tr>
          <td>Magazzini Alimentari Riuniti</td>
          <td>Giovanni Rovelli</td>
          <td>Italy</td>
        </tr>
      </tbody>
    </table>
  </div><br>
  <div style="text-align: center;">
    <input type="button" class="btn btn-danger" value="Convert" (click)="convertToPDF()" />
  </div>
</ion-content> -->