<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    <ion-title>View Products</ion-title>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="small-container cart-page">
    <table>
      <tr>
        <th>Product Name</th>
        <th>Grams On Hand</th>
        <th></th>
      </tr>
      <tr *ngFor="let data of products">
        <td>
          <div class="cart-info">
           <img src="{{data.ImageUrl}}">
            <div>
              <h3>{{data.ProductName}}</h3>
              <p *ngIf="data.Category != 'Milktea'"> 
                <small>Price: {{data.UnitPrice | currency: '₱'}}</small>
              <br><a (click)="DeleteProduct(data)">Remove</a>
              </p>
              
              <p *ngIf="data.Category == 'Milktea'">
                <small>SmallPrice: {{data.SmallPrice | currency: '₱'}}</small>
                <br>
                <small>MediumPrice: {{data.MediumPrice | currency: '₱'}}</small>
                <br><a (click)="DeleteProduct(data)">Remove</a>
              </p>
            </div>
          </div>
        </td>
        <td><input type="text" value="{{data.Stock}}" disabled style="text-align: right;"></td>
        <td>
          <span style="float: right; ">
          <button id="btn" (click)="EditProduct(data)"> Edit</button>
        </span>
      </td>
      </tr>    
    </table>
  </div>
</ion-content>