<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 800;font-size: 3em;">
        Notifications
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header> -->
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    <ion-title>Notifications</ion-title>
  </ion-buttons>

</ion-toolbar>

<ion-content [fullscreen]="true">

  <ion-card  class="ion-margin" *ngFor="let data of notificationsList">
    <ion-card-header>
      <!-- [style.color]="item.value.itemPriority === 'high' ? 'red' : (item.value.itemPriority === 'low' ? 'green' : 'orange')" -->
      <ion-card-subtitle>
        Remarks: {{data.remarks}}
      </ion-card-subtitle>

      <ion-item>
        <ion-label text-wrap>{{data.Message}}</ion-label>
      </ion-item>

    </ion-card-header>

  
    <ion-card-content>
      <ion-label>Date :  {{data.Datetime}}</ion-label>
      <br>
      <ion-label *ngIf="data.link != ''">Billing Status :  {{data.paymentStatus}}</ion-label>
    </ion-card-content>

    <ion-row>
    

      <ion-item *ngIf="!data.read" button (click)="update(data)">
        <!-- <ion-icon name="book"></ion-icon> -->
        <ion-text color="danger">Mark as read</ion-text>
      </ion-item>

      <ion-item *ngIf="data.PaymentMethod == 'Online Payment' && data.Status == 'Approved'" button
      (click)="redirectToLinkPagePayment(data.link)">
        <ion-text color="success">Pay now</ion-text>
      </ion-item>
    </ion-row>

  </ion-card>
 </ion-content>