<!-- 
<ion-content>
  <div class="wrapper">
    <h3>My Information</h3>
    <ion-item lines="none">
      <ion-label position="floating">First Name</ion-label>
      <ion-input  [(ngModel)]="firstname" type="text" placeholder="First Name" [disabled]="!isDisabled"></ion-input>
    </ion-item>
   
    <ion-item lines="none">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastname" placeholder="Last Name" [disabled]="!isDisabled"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Address1</ion-label>
      <ion-input [(ngModel)]="address1" type="text" placeholder="Address 1"></ion-input>
    </ion-item>

    
    <ion-item lines="none">
      <ion-label position="floating">Address2</ion-label>
      <ion-input type="text" [(ngModel)]="address2" placeholder="Address 2"></ion-input>
    </ion-item>
   
    <ion-item lines="none">
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="number" [(ngModel)]="phonenumber" placeholder="Phone Number"></ion-input>
    </ion-item>

    
    
    
    <ion-button (click)="Edit()">Edit</ion-button>
  </div>
</ion-content> -->
<ion-toolbar>
  <ion-buttons  slot="start">
 <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <body>
    <div class="container">
      <div class="title">
        Edit Information
      </div>
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            <input [disabled]="!isEdit" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" type="text" placeholder="Enter your firstname">
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input [disabled]="!isEdit" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" type="text" placeholder="Enter your lastname">
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input [disabled]="!isEdit" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="text" placeholder="Enter your email" disabled>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input [disabled]="!isEdit" [(ngModel)]="phonenumber" [ngModelOptions]="{standalone: true}" type="number" placeholder="Enter your number">
          </div>
          <div class="input-box">
            <span class="details">Address 1</span>
            <input [disabled]="isDisabled" [(ngModel)]="address1" [ngModelOptions]="{standalone: true}" type="text" placeholder="Enter your address1">
          </div>
          <div class="input-box">
            <span class="details">Address 2</span>
            <input [disabled]="isDisabled" [(ngModel)]="address2" [ngModelOptions]="{standalone: true}" type="text" placeholder="Enter your address2">
          </div>
        </div>
        <div class="gender-details" hidden>
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
  
            <label for="">
              <span class="dot one"></span>
              <span class="gender">Female</span>
            </label>
  
            <label for="">
              <span class="dot one"></span>
              <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input (click)="Edit()" type="submit" name="" value="Save Changes">
        </div>
      </form>
    </div>
  </body>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isEdit" (click)="getCurrentLocation()">  
    <ion-fab-button>  
      <ion-icon  name="location-outline"></ion-icon>  
    </ion-fab-button>  
  </ion-fab>

</ion-content>