.wrapper {
    width: 90%;
    margin: 10% auto;
}
ion-item {
    margin: 10% auto 3%;
    --background: #cac6c6;
    border-radius: 10px;
}

ion-footer {
    background: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 600;
}
#clickable {
    cursor: pointer;
}

// ion-content {
//     --background:  url('../../assets/milktea4.jpg') no-repeat center center / cover;
//    // background-color: #654c05;
//    // background: linear-gradient(120deg,#2980b9, #8e44ad);
//    background: linear-gradient(120deg,#2980b9, #8e44ad);
// }