
<ion-content>
  <div class="wrapper">
    <h3>My Information</h3>
    <ion-item lines="none">
      <ion-label position="floating">First Name</ion-label>
      <ion-input  [(ngModel)]="firstname" type="text" placeholder="First Name" [disabled]="!isDisabled"></ion-input>
    </ion-item>
   
    <ion-item lines="none">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastname" placeholder="Last Name" [disabled]="!isDisabled"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Address1</ion-label>
      <ion-input [(ngModel)]="address1" type="text" placeholder="Address 1"></ion-input>
    </ion-item>

    
    <ion-item lines="none">
      <ion-label position="floating">Address2</ion-label>
      <ion-input type="text" [(ngModel)]="address2" placeholder="Address 2"></ion-input>
    </ion-item>
   
    <ion-item lines="none">
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="number" [(ngModel)]="phonenumber" placeholder="Phone Number"></ion-input>
    </ion-item>

    
    
    
    <ion-button (click)="Edit()">Edit</ion-button>
  </div>
</ion-content>
