
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      <ion-title>Add Product</ion-title>
    </ion-buttons>
  </ion-toolbar>

  <ion-content class="padding" color="light" fullscreen>  
    <form [formGroup]="registerForm"  (ngSubmit)="submit()" novalidate>
        <img src="{{photoLink}}" *ngIf="photoLink != ''" class="camera"/>
        <ion-input class="uploadfile"  type="file" #inputFile (change)="fileChanged($event)" accept="image/*"></ion-input>
        <ion-item counter="true">
          <ion-label position="floating">Category</ion-label>
          <ion-select formControlName="category" (ionChange)="handleChange($event)">
            <ion-select-option  value="Frappe">Frappe</ion-select-option>
            <ion-select-option  value="Milktea">Milk Tea</ion-select-option>
            <ion-select-option value="Noodles">Noodles</ion-select-option>
            <ion-select-option value="Pares">Pares</ion-select-option>
            <ion-select-option value="Platters">Platters</ion-select-option>  
            <ion-select-option  value="Shakes">Shakes</ion-select-option>
            <ion-select-option value="Silog Meals">Silog Meals</ion-select-option>
            <ion-select-option value="Sizzling Meal With Rice">Sizzling Meal W Rice</ion-select-option>
            <ion-select-option  value="Snacks">Snacks</ion-select-option>
            <ion-select-option value="Rice Meal">Rice Meal</ion-select-option>
          </ion-select>
        </ion-item>
        <br />
        <ion-item counter="true" [hidden]="!hideSizeDropdown">
          <ion-label position="floating">Size</ion-label>
          <ion-select formControlName="size" value="SM">
            <ion-select-option  value="SM">Small</ion-select-option>
            <ion-select-option  value="MD">Medium</ion-select-option>
           
          </ion-select>
        </ion-item>
        <br />
        <ion-item counter="true">
          <ion-label position="floating">Name</ion-label>
          <ion-input maxlength="20" formControlName="firstname"></ion-input>
        </ion-item>
        <ion-text type="text" color="danger" *ngIf="registerForm.get('firstname').hasError('required') && registerForm.get('firstname').touched">
          Product Name shouldn't be empty 
         </ion-text>
         <div *ngIf="!registerForm.controls.firstname.valid && (registerForm.controls.firstname.dirty ||registerForm.controls.firstname.touched)" class="error">
           <ion-text color="danger" *ngIf="registerForm.controls.firstname.errors.invalidMsg">
             {{registerForm.controls.firstname.errors.invalidMsg}}
           </ion-text>
         </div>
             <ion-text color="danger" *ngIf="registerForm.get('firstname').hasError('minlength') && registerForm.get('firstname').touched">
          Product Name must be minimum 5 characters long
         </ion-text>
         <br />
        <ion-item id="custom-item" counter="true">
          <ion-label position="floating">Unit Price</ion-label>
          <ion-input maxlength="6"  type="tel" formControlName="password"></ion-input>
        </ion-item>

        <ion-text color="danger" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
          Price of product shouldn't be empty
         </ion-text> 
         <div *ngIf="!registerForm.controls.password.valid && (registerForm.controls.password.dirty ||registerForm.controls.password.touched)" class="error">
          <ion-text color="danger" *ngIf="registerForm.controls.password.errors.invalidMsg">
            {{registerForm.controls.password.errors.invalidMsg}}
          </ion-text>
          </div>
          <br />
        <ion-item id="custom-item" counter="true">
          <ion-label position="floating">Stock On Hand</ion-label>
          <ion-input maxlength="6" type="tel" formControlName="cellphonenumber"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="registerForm.get('cellphonenumber').hasError('required') && registerForm.get('cellphonenumber').touched">
          Stock of product shouldn't be empty 
         </ion-text>
          <div *ngIf="!registerForm.controls.cellphonenumber.valid && (registerForm.controls.cellphonenumber.dirty ||registerForm.controls.cellphonenumber.touched)" class="error">
          <ion-text color="danger" *ngIf="registerForm.controls.cellphonenumber.errors.invalidMsg">
            {{registerForm.controls.cellphonenumber.errors.invalidMsg}}
          </ion-text>
        </div>
     
        <button type="submit" hidden #btn></button>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">  
          <ion-fab-button (click)="btn.click()" [disabled]="registerForm.invalid" color="success">  
            <ion-icon name="add"></ion-icon>  
          </ion-fab-button>  
        </ion-fab>  

    </form>
   
  </ion-content>  
  


