

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu">
    </ion-menu-button>
    <ion-title>POS</ion-title>
  </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="cart">
        <ion-badge color="danger" *ngIf="numbers != 0">{{numbers}}</ion-badge>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
<ion-content>
  <section class="shop container">
    <h2 class="section-title">PRODUCTS</h2>
    <div class="shop-content">
      <div class="product-box" *ngFor="let data of productList">
        <img src="{{data.ImageUrl}}" alt="" class="product-img">
        <h2 class="product-title">{{data.ProductName}}</h2>
        
        <!-- If Not Milktea -->
        <div *ngIf="data.Category != 'Milktea'">
          <span class="price">{{data.UnitPrice | currency: '₱'}}</span>
       </div>


        <!-- If Milktea -->
        <div *ngIf="data.Category == 'Milktea'">
          <span class="price">Small : {{data.SmallPrice | currency: '₱'}}</span>
          <br>
          <span class="price">Medium : {{data.MediumPrice | currency: '₱'}}</span>  
          </div>
        <span class="price">
          <h5>
            <span (click)="Decrease(data)" class="minus" button> - </span>{{data.Quantity}}<span (click)="Increase(data)" class="plus" button> + </span>
          </h5>
      </span>
        <i (click)="AddtoCart(data)"><ion-icon name="cart" class="add-cart"></ion-icon></i>
      </div>
    </div>
  </section>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">  
    <ion-fab-button (click)="SearchCategory()">  
      <ion-icon  name="search-outline"></ion-icon>  
    </ion-fab-button>  
  </ion-fab>  
</ion-content>



 



