<ion-content>
  <div class="login-section ion-padding">
   <div class="heading ion-padding">
    <p [hidden]="ishide" class="haha" routerLink="/"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></p>  
    <h1>Create an account</h1>
   </div> 
   <div class="login-form ion-padding">
   <form [formGroup]="aFormGroup">
    <div class="form-input">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-item>
        <ion-label position="floating">EMAIL</ion-label>
        <ion-input type="email" [(ngModel)]="Email1" [disabled]="ishide"
        formControlName="email"></ion-input>
      </ion-item>
      <ion-text type="text" color="danger" *ngIf="f['email'].errors">
        ✖ Please enter a valid email 
       </ion-text>
       <ion-text type="text" color="success" *ngIf="f['email'].errors == null">
        ✔ Please enter a valid email 
       </ion-text>
    </div>
    <div class="form-input">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-item>
        <ion-label position="floating">PASSWORD</ion-label>
        <ion-input type="password" formControlName="password" [(ngModel)]="Password1" [disabled]="ishide"
        (keyup)="aMinimum8CharactersPatternValid($event)"></ion-input>
      </ion-item>
      <ion-text type="text" color="danger" *ngIf="!thereIsUpperCaseCharacters">
        ✖ A uppercase 
       </ion-text>
       <ion-text type="text" color="success" *ngIf="thereIsUpperCaseCharacters">
        ✔ A uppercase 
       </ion-text>
       <br>
       <ion-text type="text" color="danger" *ngIf="!thereIsLowerCaseCharacters">
        ✖ A lowercase 
       </ion-text>
       <ion-text type="text" color="success" *ngIf="thereIsLowerCaseCharacters">
        ✔ A lowercase 
       </ion-text>
       <br>
       <ion-text type="text" color="danger" *ngIf="!thereIsSpecialCharacters">
        ✖ A special character 
       </ion-text>
       <ion-text type="text" color="success" *ngIf="thereIsSpecialCharacters">
        ✔ A special character 
       </ion-text>
       <br>
       <ion-text type="text" color="danger" *ngIf="!minimum8Characters">
        ✖ Minimum 8 characters 
       </ion-text>
       <ion-text type="text" color="success" *ngIf="minimum8Characters">
        ✔ Minimum 8 characters 
       </ion-text>
    </div>
  </form>
  <div class="action-button ion-padding" *ngIf="!ishide">
    <ion-button size="large" class="login-button" (click)="SignUp2()" [disabled]="!aFormGroup.valid">Sign up</ion-button>
  </div>
   </div>
   <div class="action-button ion-padding" *ngIf="ishide && isthisadmin">
    <ion-button size="large" class="login-button" (click)="navigateadmin()">Continue as Admin</ion-button>
    </div>

    <div class="action-button ion-padding" *ngIf="ishide && !isthisadmin">
      <ion-button size="large" class="login-button" (click)="navigatecustomer()">Continue as Customer</ion-button>
      </div>
  </div>
</ion-content>


