

.toolbar {
    height: 84px;
     --background: #69A03A;
    // --background:  url('../../assets/milktea4.jpg') no-repeat center center / cover;
    // background: linear-gradient(120deg,#2980b9, #8e44ad);
    color: #fff;
    font-size: 20px;
    line-height: 84px;
}

.addproduct {
    cursor: pointer;
}
.addproduct:active {
    color: red;
}
.labeldate {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.labelname {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #2f0101;
}
.totalamount {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

// ion-accordion::part(content) {
//     padding: 10px;
//     background: #ff00ff;
// }
// ion-accordion::part(header) {
//     padding: 10px;
//     background: #00ff00;
// }

ion-accordion.accordion-expanded ion-item[slot="header"] {
    // --background: var(--ion-color-primary);
    --background: #69A03A;
    --color: #fff;
}


// ion-accordion.accordion-expanding [slot="content"],
// ion-accordion.accordion-expanded [slot="content"] {
//     --ion-item-background: #0c0254;
//     --ion-item-color: #fff;
// }
