<!-- <ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons  slot="end">
      
      <ion-icon size="large" (click)="addproduct()" class="addproduct" name="settings"></ion-icon>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-accordion-group multiple="true">
  <ion-accordion *ngFor="let data of allPendingOrders">
    <ion-item slot="header" lines="none">
      <ion-label class="labelname">{{data.BillingFirstname}} {{data.BillingLastname}}<br> Date Ordered : {{data.Datetime}}
      <br>
      Total Amount : {{data.TotalAmount | currency: '₱'}}
      <br>
      Status : {{data.Status}}
    </ion-label> 
      
    </ion-item>
    <ion-list slot="content">
     
      <ion-item lines="none" *ngFor="let datadetails of data.OrderDetails">
        <ion-avatar slot="start">
          <img src="{{datadetails.ImageUrl}}">
        </ion-avatar>
        <ion-label>
          <h2>Product Name: {{datadetails.ProductName}}</h2>
          <h3>Email: {{data.Billingemail}}</h3>
        
          <p>Address1: {{data.BillingAddress1}}</p>
          <p>Address2: {{data.BillingAddress2}}</p>
          <p>Phone Number: {{data.BillingPhonenumber}}</p>
          <p>Quantity: {{datadetails.Quantity}}</p>
          <p>Unit Price: {{datadetails.UnitPrice | currency: '₱'}}</p>
        </ion-label>
       
      </ion-item>
   </ion-list>
  </ion-accordion>

</ion-accordion-group>
</ion-content> -->



<ion-content>
  <ion-card>
    <ion-item button *ngFor="let data of allPendingOrders" routerLink="/orderdetails/{{data.id}}" lines="none">
      <ion-avatar slot="start">
        <img src="https://thumbs.dreamstime.com/b/person-icon-flat-design-template-isolated-avatar-sign-vector-illustration-symbol-205838177.jpg"/>
      </ion-avatar>
      <ion-label>
        <h2 text-capitalize>{{data.BillingFirstname}} {{data.BillingLastname}}</h2>
        <p>{{data.Datetime}}</p>
        <p>{{data.Status}}</p>
      </ion-label>
    </ion-item>
   
  </ion-card>
</ion-content>