
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button></ion-back-button>
      <ion-title>Edit Product</ion-title>
    </ion-buttons>
  </ion-toolbar>

  <ion-content fullscreen>  
    <form [formGroup]="registerForm"  (ngSubmit)="submit()" novalidate>
        <img src="{{photoLink}}" *ngIf="photoLink != ''" class="camera"/>
        <ion-input class="uploadfile"  type="file" #inputFile (change)="fileChanged($event)" accept="image/*"></ion-input>
       
        <ion-item counter="true">
          <ion-label position="floating">Name</ion-label>
          <ion-input maxlength="20" formControlName="firstname" [(ngModel)]="productname" [disabled]="!isDisabled"></ion-input>
        </ion-item>
        <ion-text type="text" color="danger" *ngIf="registerForm.get('firstname').hasError('required') && registerForm.get('firstname').touched">
          Product Name shouldn't be empty 
         </ion-text>
         <div *ngIf="!registerForm.controls.firstname.valid && (registerForm.controls.firstname.dirty ||registerForm.controls.firstname.touched)" class="error">
           <ion-text color="danger" *ngIf="registerForm.controls.firstname.errors.invalidMsg">
             {{registerForm.controls.firstname.errors.invalidMsg}}
           </ion-text>
         </div>
             <ion-text color="danger" *ngIf="registerForm.get('firstname').hasError('minlength') && registerForm.get('firstname').touched">
          Product Name must be minimum 5 characters long
         </ion-text>
       


         <ion-item counter="true">
          <ion-label position="floating">Description</ion-label>
          <ion-textarea maxlength="800" formControlName="description" [(ngModel)]="descriptionvalue"></ion-textarea>
        </ion-item>
        <ion-text type="text" color="danger" *ngIf="registerForm.get('description').hasError('required') && registerForm.get('description').touched">
          Description shouldn't be empty 
         </ion-text>
         <div *ngIf="!registerForm.controls.description.valid && (registerForm.controls.description.dirty ||registerForm.controls.description.touched)" class="error">
           <ion-text color="danger" *ngIf="registerForm.controls.description.errors.invalidMsg">
             {{registerForm.controls.description.errors.invalidMsg}}
           </ion-text>
         </div>
             <ion-text color="danger" *ngIf="registerForm.get('firstname').hasError('minlength') && registerForm.get('firstname').touched">
          Product Name must be minimum 5 characters long
         </ion-text>
      

         


        <ion-item id="custom-item" counter="true">
          <ion-label position="floating">Grams on Hand</ion-label>
          <ion-input maxlength="6"  type="tel" [(ngModel)]="stock" formControlName="gramsonhand"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="registerForm.get('gramsonhand').hasError('required') && registerForm.get('gramsonhand').touched">
          Grams on hand shouldn't be empty 
         </ion-text>
         <div *ngIf="!registerForm.controls.gramsonhand.valid && (registerForm.controls.gramsonhand.dirty ||registerForm.controls.gramsonhand.touched)" class="error">
          <ion-text color="danger" *ngIf="registerForm.controls.gramsonhand.errors.invalidMsg">
            {{registerForm.controls.gramsonhand.errors.invalidMsg}}
          </ion-text>
        </div>
       

          <ion-item [hidden]="category == 'Milktea'" id="custom-item" counter="true">
            <ion-label position="floating">Grams per Order</ion-label>
            <ion-input maxlength="6"  type="tel" [(ngModel)]="gramsperodervalue" formControlName="gramsperorder"></ion-input>
          </ion-item>
          <ion-text [hidden]="category == 'Milktea'" color="danger" *ngIf="registerForm.get('gramsperorder').hasError('required') && registerForm.get('gramsperorder').touched">
            Grams per order shouldn't be empty 
           </ion-text>
           <div [hidden]="category == 'Milktea'" *ngIf="!registerForm.controls.gramsperorder.valid && (registerForm.controls.gramsperorder.dirty ||registerForm.controls.gramsperorder.touched)" class="error">
            <ion-text color="danger" *ngIf="registerForm.controls.gramsperorder.errors.invalidMsg">
              {{registerForm.controls.gramsperorder.errors.invalidMsg}}
            </ion-text>
          </div>
        



        <ion-item [hidden]="category == 'Milktea'" id="custom-item" counter="true">
          <ion-label position="floating">Unit Price</ion-label>
          <ion-input maxlength="6" type="tel" [(ngModel)]="price" formControlName="unitprice"></ion-input>
        </ion-item>
        <ion-text [hidden]="category == 'Milktea'" color="danger" *ngIf="registerForm.get('unitprice').hasError('required') && registerForm.get('unitprice').touched">
          Price of product shouldn't be empty
         </ion-text> 
         <div [hidden]="category == 'Milktea'" *ngIf="!registerForm.controls.unitprice.valid && (registerForm.controls.unitprice.dirty ||registerForm.controls.unitprice.touched)" class="error">
          <ion-text color="danger" *ngIf="registerForm.controls.unitprice.errors.invalidMsg">
            {{registerForm.controls.unitprice.errors.invalidMsg}}
          </ion-text>
        </div>




        <ion-item id="custom-item" counter="true" [hidden]="category != 'Milktea'">
          <ion-label position="floating">Small Price</ion-label>
          <ion-input maxlength="6" type="tel" [(ngModel)]="smallpricevalue" formControlName="smallprice"></ion-input>
        </ion-item>
        <ion-text [hidden]="category != 'Milktea'"  color="danger" *ngIf="registerForm.get('smallprice').hasError('required') && registerForm.get('smallprice').touched">
          Small Price shouldn't be empty
         </ion-text> 
         <div [hidden]="category != 'Milktea'" *ngIf="!registerForm.controls.smallprice.valid && (registerForm.controls.smallprice.dirty ||registerForm.controls.smallprice.touched)" class="error">
          <ion-text color="danger" *ngIf="registerForm.controls.smallprice.errors.invalidMsg">
            {{registerForm.controls.smallprice.errors.invalidMsg}}
          </ion-text>
        </div>




        <ion-item [hidden]="category != 'Milktea'" id="custom-item" counter="true">
          <ion-label position="floating">Medium Price</ion-label>
          <ion-input maxlength="6" type="tel" [(ngModel)]="mediumpricevalue" formControlName="mediumprice"></ion-input>
        </ion-item>
        <ion-text [hidden]="category != 'Milktea'" color="danger" *ngIf="registerForm.get('mediumprice').hasError('required') && registerForm.get('mediumprice').touched">
          Medium Price shouldn't be empty
         </ion-text> 
         <div [hidden]="category != 'Milktea'" *ngIf="!registerForm.controls.mediumprice.valid && (registerForm.controls.mediumprice.dirty ||registerForm.controls.mediumprice.touched)" class="error">
          <ion-text color="danger" *ngIf="registerForm.controls.mediumprice.errors.invalidMsg">
            {{registerForm.controls.mediumprice.errors.invalidMsg}}
          </ion-text>
        </div>



        <ion-item [hidden]="category != 'Milktea'" id="custom-item" counter="true">
          <ion-label position="floating">Grams Per Order Small</ion-label>
          <ion-input maxlength="6" type="tel" [(ngModel)]="gramsperodersmallvalue" formControlName="gramsperodersmall"></ion-input>
        </ion-item>
        <ion-text [hidden]="category != 'Milktea'" color="danger" *ngIf="registerForm.get('gramsperodersmall').hasError('required') && registerForm.get('gramsperodersmall').touched">
          Grams Per Order Small shouldn't be empty
         </ion-text> 
         <div [hidden]="category != 'Milktea'" *ngIf="!registerForm.controls.gramsperodersmall.valid && (registerForm.controls.gramsperodersmall.dirty ||registerForm.controls.gramsperodersmall.touched)" class="error">
          <ion-text color="danger" *ngIf="registerForm.controls.gramsperodersmall.errors.invalidMsg">
            {{registerForm.controls.gramsperodersmall.errors.invalidMsg}}
          </ion-text>
        </div>



        <ion-item [hidden]="category != 'Milktea'" id="custom-item" counter="true">
          <ion-label position="floating">Grams Per Order Medium</ion-label>
          <ion-input maxlength="6" type="tel" [(ngModel)]="gramsperodermediumvalue" formControlName="gramsperodermedium"></ion-input>
        </ion-item>
        <ion-text [hidden]="category != 'Milktea'" color="danger" *ngIf="registerForm.get('gramsperodermedium').hasError('required') && registerForm.get('gramsperodermedium').touched">
          Grams Per Order Medium shouldn't be empty
         </ion-text> 
         <div [hidden]="category != 'Milktea'" *ngIf="!registerForm.controls.gramsperodermedium.valid && (registerForm.controls.gramsperodermedium.dirty ||registerForm.controls.gramsperodermedium.touched)" class="error">
          <ion-text color="danger" *ngIf="registerForm.controls.gramsperodermedium.errors.invalidMsg">
            {{registerForm.controls.gramsperodermedium.errors.invalidMsg}}
          </ion-text>
        </div>

        
    </form>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <!-- [disabled]="registerForm.invalid"   -->
      <ion-fab-button (click)="submit()" color="success">  
        <ion-icon name="save-outline"></ion-icon>  
      </ion-fab-button>  
    </ion-fab>  
  </ion-content>  







