<!-- <ion-header>
  <ion-toolbar>
    <ion-title>AddProduct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <div class="camera"></div> -->
  <!-- <img *ngIf="photoLink != ''" src="{{photoLink}}" />
  <ion-input type="file" (change)="fileChanged($event)"></ion-input>
</ion-content>  -->
<ion-header>
  <ion-toolbar class="toolbar">
   
    <ion-buttons slot="start">
      <!-- <ion-back-button color=
        "light" defaultHref="home"></ion-back-button> -->
       <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Edit Product</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  
    <img src="{{photoLink}}" *ngIf="photoLink != ''" class="camera"/>
    <ion-input type="file" (change)="fileChanged($event)"></ion-input>
   <br>
   <br>
   <br>
   <br>
   <br>
   
  <div class="form">
    <ion-input hidden class="uploadfile"  type="file" #inputFile (change)="fileChanged($event)" accept="image/*"></ion-input>
    <form [formGroup]="registerForm"  (ngSubmit)="submit()" novalidate>
      
      <ion-item lines="none">
        <ion-input [disabled]="!isdisabled"  placeholder="Enter product name" formControlName="firstname" [(ngModel)]="productname"></ion-input>
      </ion-item>
      <ion-text type="text" color="danger" *ngIf="registerForm.get('firstname').hasError('required') && registerForm.get('firstname').touched">
        Product Name shouldn't be empty 
       </ion-text>
       <div *ngIf="!registerForm.controls.firstname.valid && (registerForm.controls.firstname.dirty ||registerForm.controls.firstname.touched)" class="error">
         <ion-text color="danger" *ngIf="registerForm.controls.firstname.errors.invalidMsg">
           {{registerForm.controls.firstname.errors.invalidMsg}}
         </ion-text>
       </div>
           <ion-text color="danger" *ngIf="registerForm.get('firstname').hasError('minlength') && registerForm.get('firstname').touched">
        Product Name must be minimum 5 characters long
       </ion-text>
      
       <ion-item lines="none">
        <ion-input type="tel"  placeholder="Enter Stock" [(ngModel)]="stock" formControlName="cellphonenumber"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('cellphonenumber').hasError('required') && registerForm.get('cellphonenumber').touched">
        Stock of product shouldn't be empty 
       </ion-text>
       <!-- <ion-text color="danger" *ngIf="registerForm.get('cellphonenumber').hasError('pattern') && registerForm.get('cellphonenumber').touched">
        Please enter a Philippine phone number format 
       </ion-text> -->
       <div *ngIf="!registerForm.controls.cellphonenumber.valid && (registerForm.controls.cellphonenumber.dirty ||registerForm.controls.cellphonenumber.touched)" class="error">
        <ion-text color="danger" *ngIf="registerForm.controls.cellphonenumber.errors.invalidMsg">
          {{registerForm.controls.cellphonenumber.errors.invalidMsg}}
        </ion-text>
      </div>
       <ion-item lines="none">
        <ion-input type="tel"  [(ngModel)]="price"  placeholder="Enter Price" formControlName="password"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
        Price of product shouldn't be empty
       </ion-text> 
       <div *ngIf="!registerForm.controls.password.valid && (registerForm.controls.password.dirty ||registerForm.controls.password.touched)" class="error">
        <ion-text color="danger" *ngIf="registerForm.controls.password.errors.invalidMsg">
          {{registerForm.controls.password.errors.invalidMsg}}
        </ion-text>
      </div>
     
      <button type="submit" hidden #btn></button>
      <ion-button color="dark" (click)="btn.click()" [disabled]="registerForm.invalid" expand="block">Update Product</ion-button>
    </form>
    <!-- <ion-item lines="none">
      <ion-input type="tel"  [(ngModel)]="currentstock"  placeholder="Current Stock" ></ion-input>
    </ion-item> -->
  </div>
  </ion-content>








