
<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    <ion-title>Shop</ion-title>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button *ngIf="numbers != 0" (click)="checkout()">
      <ion-badge color="danger">{{numbers}}</ion-badge>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
    <ion-button routerLink="/notifications">
      <ion-badge *ngIf="notifCounts != 0" color="danger">{{notifCounts}}</ion-badge>
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-content>
  <section class="shop" id="shop">
    <div class="container">
      <div class="box" *ngFor="let data of productList">
        <img src="{{data.ImageUrl}}">
        <h4>{{data.ProductName}}</h4>
        <h5>{{data.UnitPrice | currency: '₱'}}</h5>
        <h5>{{data.Stock}} remaining</h5>
        <h5><span (click)="Decrease(data)" class="minus"> - </span>{{data.Quantity}}<span (click)="Increase(data)" class="plus"> + </span></h5>
        <div class="cart" (click)="AddtoCart(data)">
          <ion-button>Add to cart</ion-button>
        </div>
      </div>
    </div>
  </section>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">  
    <ion-fab-button color="primary" (click)="SearchCategory()">  
      <ion-icon  name="search-outline"></ion-icon>  
    </ion-fab-button>  
  </ion-fab>  
</ion-content>


