// .item-background-color {
//     --background:  url('../../assets/milktea4.jpg') no-repeat center center / cover;
//    // background-color: #654c05;
//    // background: linear-gradient(120deg,#2980b9, #8e44ad);
//    background: linear-gradient(120deg,#2980b9, #8e44ad);
//   }

.toolbar {
    height: 84px;
   --background: #69A03A;
     //  --background:  url('../../assets/milktea4.jpg') no-repeat center center / cover;
   //background: linear-gradient(120deg,#2980b9, #8e44ad);
   color: #fff;
    font-size: 20px;
    line-height: 84px;
}
// .buttonsactive:active {
//     background-color: red;
//     font-weight: 500;
// }
.container {


    width: 100%;
    ion-thumbnail {
        width: 100px !important;
        height: 100px !important;
        img {
            border-radius: 10px;
        }
    }
    .rate {
        color: #ccc;
    }
    #qty {
        margin-top: 5px;
        .minus {
            font-weight: 600;
            padding: 5px;
            margin-right: 20px;
            cursor: pointer;
        }
        .plus {
            margin-left: 20px;
            font-weight: 600;
            padding:  5px;
            cursor: pointer;
            
        }
        .plus:active {
            background-color: #69a03a;
        }
        .minus:active {
            background-color: red;
            
        }
        #btn {
            padding: 10px 20px;
            color: #fff;
            background-color: #69a03a;
            
        }
        #btn:active {
            background-color: rgb(5, 21, 66);
        }
    }
    ion-label {
        ion-icon {
            margin: 10px;
            color: #69A03A;
        }
    }
}
