

.toolbar {
    height: 84px;
     --background: #69A03A;
    // --background:  url('../../assets/milktea4.jpg') no-repeat center center / cover;
    // background: linear-gradient(120deg,#2980b9, #8e44ad);
    color: #fff;
    font-size: 20px;
    line-height: 84px;
}