
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      <ion-title>Inventory</ion-title>
    </ion-buttons>
    <!-- (ionChange)="handleChange($event)" -->
    <ion-searchbar  [debounce]="1000" show-clear-button="always" clear-icon="trash-bin" 
    placeholder="Fullname & Productname" (ionChange)="handleChange($event)"></ion-searchbar>
    
  </ion-toolbar>
 
 <ion-content>
  <ion-card>
    <ion-item  *ngFor="let data of inventoryList" lines="none" color="dark">
      <ion-avatar slot="start">
        <img [src]="data.ImageUrl"/>
      </ion-avatar>
      <ion-label>
        <h2 text-capitalize>{{data.ProductName}} ({{data.Quantity}})</h2>
        <p>{{data.Destination}}</p>
        <p>{{data.Datetime}}</p>
      </ion-label>
    </ion-item>
   
  </ion-card>
</ion-content>   
