
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      <ion-title>Stock On Hand</ion-title>
    </ion-buttons>
  
    <!-- <ion-buttons slot="end">
     <ion-button (click)="prev()">
      <ion-icon name="chevron-back-outline" style="cursor: pointer; zoom:2.0;"></ion-icon>
     </ion-button>
     <ion-button (click)="next()">
      <ion-icon name="chevron-forward-outline" style="cursor: pointer; zoom:2.0;"></ion-icon>
     </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  
  <!-- <ion-modal trigger="open-modal3" mode="md" [backdropDismiss]="false">
    <ng-template>
      <ion-content>
        <ion-item>
          <ion-label>Full Name :</ion-label>
          <ion-input [(ngModel)]="fullName" (ionChange)="handleFullNameChange($event)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Product Name :</ion-label>
          <ion-input [(ngModel)]="nameofProduct" (ionChange)="handleproductName($event)"></ion-input>
        </ion-item>
        <ion-item counter="true">
          <ion-label>Start Date :</ion-label>
          <ion-input type="date" [(ngModel)]="dateStart" (ionChange)="handleChangeStartDate($event)"></ion-input>
        </ion-item> 
        <ion-item counter="true">
          <ion-label>End Date :</ion-label>
          <ion-input type="date" [(ngModel)]="dateEnd" (ionChange)="handleChangeStartDate($event)"></ion-input>
        </ion-item>
        <ion-item lines="none">
         <ion-buttons slot="end">
          <ion-button color="danger" (click)="close()">Close</ion-button>
         </ion-buttons>
        </ion-item> 
    
      </ion-content>
    </ng-template>
  </ion-modal>
<ion-content [fullscreen]="true" class="content">
<ion-slides [options]="option" class="ion-margin-top" #slides>
  <ion-slide *ngFor="let data of categoryList">
    <ion-card>
      <img src="{{data.Image}}" style="cursor: pointer; "  (click)="gotoThisCategory(data.name)"/>
      <h1 style="color: aliceblue; font-size: 3.9rem; font-weight: 900;">{{data.name}}</h1>
    </ion-card>
  </ion-slide>   
</ion-slides>
</ion-content> -->


<ion-content>
  <main class="table">
    <section class="table__header">
        <h1>‎</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Item..." [(ngModel)]="fullName"  (keyup)="searchMaterial($event)">
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Itemname</th>
                    <th> Grams Onhand</th>
                    <!-- <th> Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of materialList" (click)="editMaterial(data)">
                    <td>
                      {{data.Itemname}}
                    </td>
                    <td style="text-align: justify;"> {{data.Stock}} </td>
                    <!-- <td> <ion-button>Edit</ion-button> </td> -->
                </tr>
             </tbody>
        </table>
    </section>
</main>
</ion-content>

